<% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %>

<h2>Detailed explaination</h2>
This transaction has been analyzed to be of class <code><%= @transaction.class %></code>.<br/>
<%= @transaction.explaination_html&.html_safe %><br/>
<% if @transaction.co2_kg %>
  CO2 emission due to this transaction: <samp><%= @transaction.co2_kg.round(2) %>kg<samp>.
<% end %>

<br/>
<% if @transaction.user_updated? %>
  ⚠ This transaction has been manually tweaked after being imported from your bank.
  <%= button_to("Revert state", "#{transaction_path(@transaction)}/pristine", remote: true) %>

<% end %>

<h2>Edit</h2>
<%= form_with(model: @transaction, url: transaction_path, scope: 'transaction') do |form| %>
  <div class="mb-3 form-floating">
    <%= form.text_field(:description, class: 'form-control', placeholder: 'description') %>
    <label for="transaction_description" class="form-label">Description</label>
  </div>
  <div class="mb-3 form-floating">
    <%= form.date_field(:date, class: 'form-control', placeholder: 'date') %>
    <label for="transaction_date" class="form-label">Date</label>
  </div>
  <div class="mb-3 form-floating">
    <%
        categories = BridgeApi::Dependencies.resolve(:categories).map { |id, hash| [hash['name'], id] }
    %>
    <%= form.select(:category_id, categories, {selected: @transaction.category_id.to_s}, class: 'form-select') %>
    <label for="transaction_category_id" class="form-label">Category</label>
</div>
<button type="submit" class="btn btn-primary">Update</button>
<%= link_to(@transaction.bridge_api_account.user) do %>
  <button type="submit" class="btn btn-secondary">Back</button>
<% end %>
<% end %>
